
.header {
    background: url(https://lh3.googleusercontent.com/drive-storage/AJQWtBNr6x0GqNeBCMxODWk9vzTtuho0Jn3yhK4B5fpp-ixoUuWe0MsScCdb89WyFCBZRTjuRdYP1TKjGv9BElOW5VhqTyqNQGbVQ5BGYTYC=w842-h839) no-repeat center center; 
    background-size: cover;
    height: 800px;
    padding: 0;
    background-position: 0px;
    background-repeat: repeat;
    border-style:solid;
    border-color: red;
    background-attachment: fixed;
  }
  .header h1 {
    color: #fff; 
    font-size: 80px;
    padding-top: 450px;
    text-align: center;
  }

.header1 {
    background: url(https://lh3.googleusercontent.com/drive-storage/AJQWtBNr6x0GqNeBCMxODWk9vzTtuho0Jn3yhK4B5fpp-ixoUuWe0MsScCdb89WyFCBZRTjuRdYP1TKjGv9BElOW5VhqTyqNQGbVQ5BGYTYC=w842-h839) no-repeat center center; 
    background-size: cover;
    height: 800px;
    padding: 0;
    background-position: 0px;
    background-position-x: center;
    background-repeat: repeat;
    border-style:solid;
    border-color: red;
    opacity: .6 ;
    background-attachment: fixed;
   
}
.header1 h1 {
    color: #fff; 
    font-size: 80px;
    padding-top: 450px;
    text-transform: unset; 
    text-align: center;
}
.header2 {
    background:url(https://lh3.googleusercontent.com/drive-storage/AJQWtBOaVCvbnCcHeS7HgP-cbyVVQFAlSpvZ-b9ZFyUjqabkdst9Ed4Teq8XdBkyGxMLI9EFGow0jUaCijLK8U4YI3RyJ3D8oP27b-E9CMqB=w1123-h856) no-repeat center center; 
    background-size: cover;
    height: 800px;
    padding: 0;
    background-position: 0px;
    background-position-x: center;
    background-repeat: repeat;
    border-style:solid;
    border-color: red;
    background-attachment: fixed;

}
.header2 h1 {
    color: #fff; 
    font-size: 80px;
    padding-top: 450px;
    text-transform: unset; 
    text-align: center;
}
.header3 {
    background:url(https://cdn.pixabay.com/photo/2016/12/15/20/17/color-1909977_640.jpg) no-repeat center center; 
    background-size: cover;
    height: 800px;
    padding: 0;
    background-position: 0px;
    background-position-x: center;
    background-repeat: repeat;
    border-style:solid;
    border-color: red;
    background-attachment: fixed;
}